<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Stores
      </div>
      <div class="card-body">
        <h1> <%= link_to Location.stores.count, locations_path %></h1>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Warehouses
      </div>
      <div class="card-body">
        <h1> <%= link_to Location.warehouses.count, locations_path%></h1>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Offices
      </div>
      <div class="card-body">
        <h1> <%= link_to Location.offices.count, locations_path%></h1>
      </div>
    </div>

  </div>


</div>